{% extends "layout.html" %}
{% block content %}
    <!-- 
        - #HERO
    -->

    <section class="hero" id="home">
        <div class="container">

            <h2 class="h1 hero-title">User Sign Up</h2>

        </div>
    </section>

    <!-- 
    - #REGISTRATION FORM
    -->

    <section class="tour-search">
    <div class="container">

        <form method="POST" action="" class="tour-search-form">
        
        <!-- adds cross side request forgery token (CSRF) to keep our site secure  -->
        {{ form.hidden_tag() }}
        
        <div class="input-wrapper">
            {{form.username.label(class="input-label")}}
            {{form.username(class="input-field")}}
            <!-- if error occurs print  -->
           {% if form.username.errors %}
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
                <br>
            {% endfor %}
           {% endif %}
        </div>
        <div class="input-wrapper">
            {{form.email.label(class="input-label")}}
            {{form.email(class="input-field")}}
            <!-- if error occurs print  -->
           {% if form.email.errors %}
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
                <br>
            {% endfor %}
           {% endif %}
        </div>
        <div class="input-wrapper">
            {{form.password.label(class="input-label")}}
            {{form.password(class="input-field")}}
        </div>
        <div class="input-wrapper">
            {{form.confirm_password.label(class="input-label")}}
            {{form.confirm_password(class="input-field")}}
            <!-- if error occurs print  -->
           {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
                <br>
            {% endfor %}
           {% endif %}
        </div>

        <!-- Submit Button -->
        {{ form.submit(class="btn btn-secondary")}}
        
        </form>
    </div>
    <br>
    <!-- LOGIN LINK  -->
    <div class="container">
        <p style="text-align: center; font-weight: 500;"class="input-label">
            Already have an Account?
        </p>
        <br>
        <a href="{{url_for('login')}}"><button class="btn btn-secondary">Sign In</button></a>
    </div>
    </section>

{% endblock content %}